.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.stopwatch {
  width: 500px;
  height: auto;
  padding: 16px;
}

.time {
  font-size: 32px;
  font-weight: bold;
  color: rgb(80, 80, 229);
}

.buttons {
  margin: 16px;
}

.buttons>button {
  width: 100px;
  padding: 8px;
  font-size: 20px;
  margin: 4px;
  border:none;
  border-radius: 5px;
  color: white;
}

.start {
  background-color: rgb(80, 80, 235);
  
}

.reset {
  background-color: rgb(139, 138, 138);
}

